build/
.cache/
*.user
*.autosave
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
*.exe
*.dll
*.pdb
*.ilk
*.exp
*.lib
*.obj
*.o
*.moc
moc_*.cpp
qrc_*.cpp
ui_*.h
.vs/
.vscode/
*.suo
*.sdf
ipch/
